<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class ="content">
        <!-- main content -->
        <div class="row">
            <form action="/admin/enquiry" method ="get"class="col s12">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="enquiry_id" name="enquiry_id" type="text" class="validate">
                        <label for="enquiry_id">enquiry id</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <select id="category" name ="category">
                            <option value="" disabled selected>Category id</option>
                            <option value="*" default>All</option>
                            {% for item in data["category"] %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                            <!-- <option value="2">Option 2</option>
                            <option value="3">Option 3</option> -->
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select id="instructor" name ="instructor">
                            <option value="" disabled selected>Instructor</option>
                            <option value="All" default>All</option>
                            {% for i in data["instructor"] %}
                                        
                                    <option value="{{ i }}">{{ i }}</option>
                                        
                                    {% endfor %}
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select id="status" name ="status">
                            <option value="" disabled selected>Status</option>
                            <option value="All" default>All</option>
                            {% for i in data["status"] %}
                                
                                    <option value="{{ i }}">{{ i }}</option>
                                        
                                    {% endfor %}
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select id="course" name ="course">
                            <option value="" disabled selected>course</option>
                            <option value="All" default>All</option>
                            {% for i in data["course"] %}
                                
                                    <option value="{{ i }}">{{ i }}</option>
                                        
                                    {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" onclick="main_()" class ="btn waves-effect waves-light" value="submit">
                </div>
              
            </form>
        </div>
         <!-- end of main content -->

        <!-- cards to display -->
        {% for item in data["enquiry"] %}
        <div class="row">
            <div class="col s6 m3">
                <div class="card white">
                    <div class="card-content black-text">
                        <span class="card-title" style="color: black !important">Enquiry id: {{ item["enquiry_id"] }}</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red btn modal-trigger "data-target={{item["enquiry_id"]}}><i class="material-icons">menu</i></a>
                    </div>
                    <div class="card-content">
                        <p>status : {{ item["status"] }}</p>
                        <p>user id: {{ item["user_id"] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card modal -->
        <div id={{item["enquiry_id"]}} class="modal">
            <div class="modal-content">
                <div class="row">
                    <form method ="post" action = "/admin/enquiry" id = "update_enquiry"class="col s12">
                        <div class ="row">
                            <input type="text" id ="type" name = "type" value="update" style="color:white" >
                            <!-- <textarea name="type" id="type" class="materialize-textarea" disabled>update</textarea> -->
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="update_enquiry_id" placeholder={{item["enquiry_id"]}} type="text" class="validate" disabled>
                                <label for="update_enquiry_id">enquiry id</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="update_enquiry_user_id" placeholder={{item["user_id"]}} type="text" class="validate"disabled>
                                <label for="update_enquiry_user_id">user id</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="course_id" placeholder={{item["course_id"]}} type="text" class="validate"disabled>
                                <label for="course_id">course_id</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="instructor" placeholder={{item["instructor"]}} type="text" class="validate"disabled>
                                <label for="instructor">instructor</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="update_comment" placeholder={{item["comment"]}} type="text" class="validate">
                                <label for="update_comment">comment </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value={{item["status"]}} disabled selected>{{item["status"]}}</option>
                                    {% for i in data["status"] %}
                                        {% if (i) != (status) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label>status</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="enquiry" placeholder={{item["enquiry"]}} type="text" class="validate"disabled>
                                <label for="enquiry"> enquiry </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            
                            <input type="submit" value="submit" class = "btn waves-effect waves-light">
                            <!-- post request -->
                        </div>
                    </form>
                  </div>
            </div>
           
        </div>
        <!-- end of card modal -->
        {% endfor %}
            
          

          <!-- end of cards to display -->
        <!-- Add enquiry Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="row">
                    
                    <form name = "add_enquiry" method ="post" action = "/admin/enquiry" id = "add_enquiry"class="col s12">
                        <div class = "row">
                            <input type="text" name="type" value="add" id ="type" style="color:white;">
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="add_enquiry_user_id" type="text" name = "add_enquiry_user_id"  class="validate">
                                <label for="add_enquiry_user_id">user_id</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select name = "add_enquiry_course_id" id ="add_enquiry_course_id" >
                                    <option value="" disabled selected>Course</option>
                                    {% for i in data["course"] %}
                                        
                                    <option value="{{ i }}">{{ i }}</option>
                                        
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="add_enquiry_description" type="text" class="validate">
                                <label for="add_enquiry_description">Enquiry</label>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value="" disabled selected>Status</option>
                                    {% for i in data["status"] %}
                                
                                    <option value="{{ i }}">{{ i }}</option>
                                        
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <input id="add_enquiry_comment" type="text" class="validate">
                                <label for="add_enquiry_comment"> comment </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="submit" name="add_enquiry_submit" onclick="add()" id= "add_enquiry_submit"class = "btn waves-effect waves-light">
                            <!-- post request -->
                        </div>
                    </form>
                  </div>
            </div>
           
        </div>
        <!--End of Add enquiry Modal Structure  -->

        <!-- Start add enquiry button -->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large black btn modal-trigger" href="#modal1" >
                <i class="large material-icons">add</i>
            </a>
        </div>
        <!-- End of add enquiry button -->
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
<script src="../static/js/admin_enquiry.js"></script>
</body>
</html>