<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class ="content">
        <!-- main content -->
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="course_id" type="text" class="validate">
                        <label for="course_id">Course id</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <select>
                            <option value="" disabled selected>Category id</option>
                            <option value="*" default>All</option>
                            {% for item in data["category"] %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                            <!-- <option value="2">Option 2</option>
                            <option value="3">Option 3</option> -->
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <select>
                            <option value="" disabled selected>Instructor id</option>
                            <option value="1" default>All</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <select>
                            <option value="" disabled selected>Status</option>
                            <option value="1" default>Active</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                         <i class="material-icons right">send</i>
                    </button>
                </div>
              
            </form>
        </div>
         <!-- end of main content -->

        <!-- cards to display -->
        {% for item in data["course"] %}
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src={{item["img_url"]}}>
                        <span class="card-title" style="color: black !important">{{ item["course_name"] }}</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red btn modal-trigger "data-target={{item["course_id"]}}><i class="material-icons">menu</i></a>
                    </div>
                    <div class="card-content">
                        <p>course id : {{ item["course_id"] }}</p>
                        <p>instructor id: {{ item["instructor"] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card modal -->
        <div id={{item["course_id"]}} class="modal">
            <div class="modal-content">
                <div class="row">
                    <form method ="put" action = "admin/course" id = "update_course"class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="update_course_id" placeholder={{item["course_id"]}} type="text" class="validate">
                                <label for="update_course_id">Course id</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="update_course_name" placeholder={{item["course_name"]}} type="text" class="validate">
                                <label for="update_course_name">Course name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value={{item["category_id"]}} selected>{{item["category_id"]}}</option>
                                    {% for i in data["category"] %}
                                        {% if i != category_id %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label>category id</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="update_course_duration" placeholder={{item["course_duration"]}} type="text" class="validate">
                                <label for="update_course_duration">Course duration</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="update_max_batch_size" placeholder={{item["max_batch_size"]}} type="text" class="validate">
                                <label for="update_max_batch_size">max batch size</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value={{item["instructor"]}}  selected>Instructor id</option>
                                    {% for i in data["instructor"] %}
                                        {% if (i) != (instructor) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label>instructor</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="update_description" placeholder={{item["description"]}} type="text" class="validate">
                                <label for="update_description">description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="update_preview_video" placeholder={{item["preview_video"]}} type="text" class="validate">
                                <label for="update_preview_video">preview video</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="update_syllabus" placeholder={{item["syllabus"]}} type="text" class="validate">
                                <label for="update_syllabus">syllabus </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value={{item["status"]}} disabled selected>{{item["status"]}}</option>
                                    {% for i in data["status"] %}
                                        {% if (i) != (status) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label>status</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="update_narration" placeholder={{item["narration"]}} type="text" class="validate">
                                <label for="update_narration"> narration </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            
                            <input type="submit" value="submit" class = "btn waves-effect waves-light">
                            <!-- post request -->
                        </div>
                    </form>
                  </div>
            </div>
           
        </div>
        <!-- end of card modal -->
        {% endfor %}
            
          

          <!-- end of cards to display -->
        <!-- Add Course Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="row">
                    <form method ="post" action = "admin/course" id = "add_course"class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="add_course_id" type="text" class="validate">
                                <label for="add_course_id">Course id</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="add_course_name" type="text" class="validate">
                                <label for="add_course_name">Course name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value="" disabled selected>Category id</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="add_course_duration" type="text" class="validate">
                                <label for="add_course_duration">Course duration</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="add_max_batch_size" type="text" class="validate">
                                <label for="add_max_batch_size">max batch size</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value="" disabled selected>Instructor id</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="add_description" type="text" class="validate">
                                <label for="add_description">description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="add_preview_video" type="text" class="validate">
                                <label for="add_preview_video">preview video</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="add_syllabus" type="text" class="validate">
                                <label for="add_syllabus">syllabus </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value="" disabled selected>Status</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <input id="add_narration" type="text" class="validate">
                                <label for="add_narration"> narration </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" id = "add_course_submit"class="modal-close waves-effect waves-green btn-flat">Submit</a>
                            <!-- post request -->
                        </div>
                    </form>
                  </div>
            </div>
           
        </div>
        <!--End of Add Course Modal Structure  -->

        <!-- Start add course button -->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large black btn modal-trigger" href="#modal1" >
                <i class="large material-icons">add</i>
            </a>
        </div>
        <!-- End of add course button -->
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
<script src="../static/js/admin_course.js"></script>
</body>
</html>